<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="{{url_for('write')}}">Want to write more about your yourself</a>
        <a href="{{url_for('dashboard')}}" >Dashboard </a>

        <h2>Views what people say</h2>
        {% for post in  posts%}
        <li><strong>{{post.author}} on  {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}:</strong></li>
        <h2>{{post.title}}</h2>
        <h3>Tags:{{post.tags}}</h3>
        <p><strong>{{post.content}}</strong></p>
        <a href="{{ url_for('delete_post', id=post.id) }}">Click here to delete</a>
        {% endfor %}


    </body>
</html>