<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>The logged in content</h1>
       <a href="{{url_for('logout')}}" >For Logout click here </a>   
       <a href="{{url_for('write')}}">For posting views click here</a>
       <p>welcome{{user_logged.username}}</p>
        <script src="" async defer></script>
    </body>
</html>