<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Description</title>
    <link rel="stylesheet" href="/Healios.ai/static/doc_style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ url_for('doctor_page') }}">Doctor Dashboard</a>
        </nav>
        <h1>Doctor Description</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="description">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
        <p class="description">Description: {{ doc_des.description }}</p>
    </div>
    <script src="" async defer></script>
</body>
</html>
