<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Doctor Dashboard</h1>
       <h3>Welcome Dr. {{current_user.name}}</h3>
       <a href="{{url_for('logout')}}" >For Logout click here </a>  
       <a href="{{url_for('doc_profile')}}" >Profile </a> 
       <a href="{{url_for('doctor_appointment')}}" >Click here to view appointments </a> 
       <a href="{{url_for('prescription')}}">Prescription Page </a> 
       <a href="{{url_for('view')}}">Prescription List </a> 
        
        <script src="" async defer></script>
    </body>
</html>