<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="{{url_for('dashboard')}}" >Dashboard </a>
        <h1>A network consisting of best doctors of the Nation!! Saving lives and working hard to make the nation safe</h1>
            {% for doctor in  res_doctors%}
            <h2><li><strong>{{doctor.name}} -  {{ doctor.qualifications }}</strong></li></h2>
            <h2>Specialties:{{doctor.specialties}}</h2>
            <h2>Specialties:{{doctor.description}}</h2>
            <a href="mailto:{{doctor.email}}">Send Email</a>
            <button><a href="{{ url_for('consult', id=doctor.id) }}">Click here to book an appointment</a></button>
            {% endfor %}
            
        
        <script src="" async defer></script>
    </body>
</html>