<!DOCTYPE html>
<
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Appointment Sheduling with doctor</h1>
       <h2>Details</h2>
       <h2><li><strong>{{doc_to_book.name}} -  {{ doc_to_book.qualifications }}</strong></li></h2>
            <h2>Specialties:{{doc_to_book.specialties}}</h2>
            <a href="mailto:{{doc_to_book.email}}">Send Email</a>
            <p>ML Model for appintment scheduling here itself</p>
            
        
        <script src="" async defer></script>
    </body>
</html>