<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>This is doctor authhentication system</h1>

        <form method="POST" action="">
        
       
            {{form.hidden_tag()}}
            {{form.name}}
            {{form.email}}
            {{form.qualifications}}
            {{form.specialties}}
            {{form.password}}
            {{form.submit}}
      </form>
      <a href="{{url_for('doc_login')}}">Login here for doctor</a>
        
        <script src="" async defer></script>
    </body>
</html>