<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="description" content="WebRTC code samples">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta itemprop="description" content="Client-side WebRTC code samples">
    <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">
    <meta itemprop="name" content="WebRTC code samples">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">

    <base target="_blank">

    <title>Peer connection between two tabs</title>

    <link rel="icon" sizes="192x192" href="../../../images/webrtc-icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>

<body>

<div id="container">
    
    

    <video id="localVideo" playsinline autoplay muted></video>
    <video id="remoteVideo" playsinline autoplay></video>

    <div class="box">
        <button id="startButton">Start</button>
        <button id="hangupButton"><a href="{{url_for('dashboard')}}">Hang Up</a></button>
    </div>

    <p>Click the start button in two tabs (of the same browser; can be in different windows) to make a call</p>
    <p>Share the Link with other person to join</p>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>

<script src="{{url_for('static', filename='ga.js')}}"></script>
</body>
</html>